/* Dropdown menu styles */
#servicesDropdown {
    padding: 20px;
    background-color: transparent;
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    align-items: center;
}

/* Remove default dropdown item styling */
.dropdown-item {
    padding: 0; 
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center; 
    flex: 1 1 auto; 
}

.service-1 {
    display: flex;
    align-items: center; 
    background-color: transparent; 
    padding: 10px;
    border: none;
    border-radius: 0; 
    flex: 1 1 auto;
    box-sizing: border-box; 
    text-align: left; 
}


.service-1-icon {
    margin-right: 15px;
    font-size: 30px; 
    color: #ffcc00;
    background-color: transparent; 
    border-radius: 0; 
    width: 50px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-1-contents {
    display: block; 
   /* color: #333; */
}

    .service-1-contents h3 {
        margin: 0;
        font-size: 18px;
      /*  color: #333;*/
    }

    .service-1-contents p {
        margin: 5px 0 0;
        font-size: 14px;
      /*  color: #666;*/
    }


#servicesDropdown.show {
    opacity: 1; 
    visibility: visible; 
}
